/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪ IMPORTS ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
@import "common_styles";
@import "page_header__logo_search_bar_login_buttons";
@import "main_menu_red_in_header";
@import "menu_in_footer";
@import "switch_language";

/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/

.error {
  /*display: flex;*/
  /*justify-content: center;*/
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.error_title {
  color: #464646;
  text-align: center;
  margin-bottom: 1.5rem;
  background: #FFFFFF;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.error_text {
  color: #464646;
  background: #FFFFFF;
  text-align: center;
  line-height: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}