/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪ IMPORTS ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/

@import "common_styles";
@import "page_header__logo_search_bar_login_buttons";
@import "main_menu_red_in_header";
@import "car_card";
@import "sorting_and_per_page";
@import "paginator";
@import "menu_in_footer";
@import "switch_language";
/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
#clear_favorites {
  line-height: 1.0 !important;
  padding: 0.4rem 0.75rem 0.25rem 0.75rem !important;
  color: var(--main_menu_bg);
  border: 1px solid var(--main_menu_bg);
  vertical-align: middle;
}
#clear_favorites:hover {
  color: #FFFFFF;
  background-color: var(--main_menu_bg);
  border: 1px solid var(--main_menu_bg);
}
@media only screen and (max-width: 575.98px) {
  /* PHONE */
  #clear_favorites {
    color: #FFFFFF;
    background-color: var(--main_menu_bg);
    border: 0;
    font-size: 0.8rem;
  }
  #clear_favorites:hover, #clear_favorites:active {
    color: #FFFFFF;
    background-color: #000000;
    border: 0;
  }
}
