@charset "UTF-8";
/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪ IMPORTS ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
/* ▪▪▪▪▪▪▪▪▪  common variables  ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  font-size: 16px !important;
  --main_font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --bs-body-font-family: var(--main_font) !important;
  font-family: var(--main_font);
  --icons-offset-x: 0rem;
  --icons-offset-y: 0rem;
  --car-card-border-radius: 0.375rem;
  --card_photo_holder-max-height: 10rem;
}

@media only screen and (max-width: 575.98px) {
  /* PHONE */
  :root {
    font-size: 24px !important;
    --car-card-border-radius: 0.18rem;
    --card_photo_holder-max-height: 6.67rem;
  }
}
/* ▪▪▪▪▪▪ ВСЯКОЕ РАЗНОЕ ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
.content {
  color: var(--bs-gray-700);
  background-color: var(--bs-white);
}

@media only screen and (max-width: 575.98px) {
  .navbar {
    padding-top: 0;
  }
}
/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
i {
  font-style: normal;
}

.breadcrumb-item a {
  color: var(--main_menu_bg);
}

.breadcrumb-item a:hover {
  color: #355cdc;
  font-weight: bold;
}

/* ▪▪▪▪▪▪▪▪▪▪▪  Page header  ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
/* ▪▪▪▪▪▪▪▪  logo, search bar, login buttons ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "basic_icons";
  src: url("../font/basic_icons.woff2") format("woff2"), url("../font/basic_icons.woff") format("woff"), url("../font/basic_icons.ttf") format("truetype"); /* это фактически не нужно вообще, оставил как пример */
}
.car_sale_logo {
  white-space: nowrap;
  height: 4rem;
  text-decoration: none;
}

#svg_logo {
  color: var(--site_logo) !important;
}

.svg_logo path {
  fill: var(--site_logo);
}

.header_menu_line_2 .nav-link:hover {
  background-color: #000000;
}

.for_logged_user svg {
  color: var(--bs-gray-600);
}

.for_logged_user span {
  padding-left: 0.5rem;
  color: var(--bs-gray-600);
  white-space: nowrap;
}

@media only screen and (max-width: 575.98px) {
  .for_logged_user svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .for_logged_user span {
    display: block;
    max-width: 60vw;
    font-size: 1.2rem;
    overflow-x: hidden;
  }
  .for_logged_user button {
    line-height: 1.5;
    white-space: nowrap;
  }
  .i_header_logo {
    position: relative;
    width: 4rem;
    height: 3rem;
    margin-left: -0.5rem;
  }
  .i_header_logo div::before {
    content: "\e984";
    position: absolute;
    top: 0.1rem;
    color: var(--site_logo);
    font-family: "basic_icons";
    font-size: 2.8rem;
  }
  .navbar-toggler {
    margin-right: 0.2rem;
    padding: 0.2rem 0.2rem;
    border-radius: 0;
  }
}
@media only screen and (min-width: 576px) {
  .for_logged_user {
    max-width: 12rem;
  }
  .for_logged_user span {
    white-space: nowrap;
    font-size: 0.9rem;
    overflow-x: hidden;
  }
}
/* ▪▪▪▪▪▪▪▪▪▪ ПОИСК ВВЕРХУ ▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
.search_wrapper {
  position: relative;
}

.black_rect_fullscreen {
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  transition-duration: 200ms;
  transition-property: opacity;
  z-index: 50 !important;
}

.logo_block {
  position: relative;
  background-color: var(--page_basic_lightgrey_bg);
  z-index: 100 !important;
}

.logo_block_mobile {
  position: relative;
  background-color: var(--page_basic_lightgrey_bg);
  z-index: 100 !important;
}

#search_mobile {
  border-left: 0px;
  border-radius: 0;
}

.dynamic_search_results, .dynamic_search_results_mobile {
  position: absolute;
  top: 2rem;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 0.25rem !important;
  z-index: 500;
}

.dynamic_search_results ul, .dynamic_search_results_mobile ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  text-decoration: none;
}

.dynamic_search_results li, .dynamic_search_results_mobile li {
  list-style-type: none;
}

.dynamic_search_results_mobile {
  max-width: 100vw;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000000;
  border-radius: 0 !important;
  overflow: hidden;
}

.dynamic_search_results_mobile .dynamic_search_list_item a {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.dynamic_search_list_item a {
  display: block;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #777777;
  background-color: #FFFFFF;
  white-space: pre;
  white-space: pre;
  text-decoration: none;
  font-size: 1rem;
}

.dynamic_search_list_item a:hover {
  color: #FFFFFF;
  background: #444444;
}

.additional_message_below {
  margin-top: 0.3rem;
  text-align: end;
  font-style: italic;
}

.additional_message_below:hover {
  color: #000000 !important;
  background-color: #E1E1E1 !important;
  cursor: pointer;
}

:root {
  --settings_menu_submenu_color_theme_icon_red: #DC3545;
  --settings_menu_submenu_color_theme_icon_black: #000000;
  --settings_menu_submenu_color_theme_icon_blue: #0c84ff;
  --settings_menu_submenu_color_theme_icon_orange: #e38408;
  --settings_menu_submenu_color_theme_icon_green: #1bd52b;
  --settings_menu_submenu_color_theme_icon_pink: #cd08e3;
  --settings_menu_submenu_color_theme_icon_brown: #624c2c;
  --settings_menu_submenu_color_theme_icon_emerald: #1A5149;
}

.settings_menu {
  display: flex;
  justify-content: center;
}

.thin_stub_at_the_top {
  height: 0.2rem;
  margin: 0;
  padding: 0;
  background-color: var(--page_basic_lightgrey_bg);
}

.settings_menu_level1_item:hover i::before {
  color: var(--settings_menu_level1_item_hover);
}

.settings_menu_level1_item {
  position: relative;
  margin-right: 0.75rem;
  padding-top: 0rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.settings_menu_level1_item:last-of-type {
  margin-right: 0rem;
}

.settings_menu_help {
  display: block;
  position: relative;
  line-height: 1;
  padding: 0.5rem 1rem 0.4rem 1rem;
  color: var(--settings_menu_help_text);
  cursor: default;
  white-space: normal;
  text-decoration: none;
}

.settings_menu_item {
  display: block;
  position: relative;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}

.settings_menu_link {
  display: flex;
  align-items: end;
  color: var(--settings_menu_link);
  text-decoration: none;
}

.settings_menu_submenu {
  display: none;
  position: absolute;
  top: 2.3rem;
  left: auto;
  right: 0;
  width: 8rem;
  background-color: var(--settings_menu_submenu_bg);
  text-align: center;
  font-size: 0.9em;
  overflow: hidden;
}

@media only screen and (max-width: 575.98px) {
  /* PHONE */
  .settings_menu_submenu {
    display: block;
    position: static;
    top: 2.3rem;
    left: auto;
    right: 0;
    width: 46vw;
    background-color: var(--settings_menu_submenu_bg);
    text-align: center;
    font-size: 0.9em;
    overflow: hidden;
  }
  .language_menu_mobile_hint {
    display: block;
    position: relative;
    line-height: 1;
    padding: 0.5rem 1rem 0.4rem 1rem;
    background-color: var(--settings_menu_submenu_bg);
    color: var(--settings_menu_help_text);
    cursor: default;
    white-space: normal;
    text-decoration: none;
  }
  .language_menu_mobile_item {
    display: block;
    position: relative;
    padding: 0.5rem 0.75rem;
    white-space: nowrap;
  }
  .language_menu_mobile_link {
    display: flex;
    align-items: end;
    text-decoration: none;
  }
  .language_menu_mobile_link span {
    color: var(--main_menu_item) !important;
  }
}
.settings_menu_submenu hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.settings_menu_submenu .settings_menu_item {
  display: flex;
  background-color: var(--settings_menu_submenu_item_bg);
  transition-duration: 200ms;
  transition-property: background-color;
}

.settings_menu_submenu .settings_menu_item:hover {
  background-color: var(--settings_menu_submenu_item_bg_hover);
}

.settings_menu_submenu .settings_menu_item:hover .settings_menu_link {
  color: var(--settings_menu_submenu_item_hover);
}

.settings_menu_submenu .settings_menu_link {
  width: 100%;
}

/* ▪▪▪▪▪▪▪▪▪▪▪▪▪ флаги стран для языков  ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
.flag-icon-background {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.flag_icon {
  display: inline-block;
  position: relative;
  width: 1rem;
  line-height: 1rem;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.flag_icon:before {
  content: " ";
}

.flag_icon_ru {
  background-image: url(../img/flags_for_language/ru.svg);
}

.flag_icon_en {
  background-image: url(../img/flags_for_language/eng.svg);
}

/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪ иконки для элементов меню цветовых тем ▪▪▪▪▪▪▪▪▪*/
.color_theme_icon {
  display: block;
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.color_theme_icon_red {
  background-color: var(--settings_menu_submenu_color_theme_icon_red);
}

.color_theme_icon_black {
  background-color: var(--settings_menu_submenu_color_theme_icon_black);
}

.color_theme_icon_blue {
  background-color: var(--settings_menu_submenu_color_theme_icon_blue);
}

.color_theme_icon_orange {
  background-color: var(--settings_menu_submenu_color_theme_icon_orange);
}

.color_theme_icon_green {
  background-color: var(--settings_menu_submenu_color_theme_icon_green);
}

.color_theme_icon_pink {
  background-color: var(--settings_menu_submenu_color_theme_icon_pink);
}

.color_theme_icon_brown {
  background-color: var(--settings_menu_submenu_color_theme_icon_brown);
}

.color_theme_icon_emerald {
  background-color: var(--settings_menu_submenu_color_theme_icon_emerald);
}

/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪  иконки auth и settings  ▪▪▪▪▪▪▪▪▪▪▪*/
.fa-circle-user::before {
  content: "\f2bd";
}

.fa-gear::before {
  content: "⚙";
}

.i_settings::before {
  content: "⚙";
  color: var(--settings_icon);
  font-family: "basic_icons";
  font-size: 2rem;
}

.i_auth::before {
  content: "\f2bd";
  color: var(--settings_icon);
  font-family: "basic_icons";
  font-size: 2rem;
}

/* ▪▪▪▪▪▪▪▪▪▪ КРАСНОЕ МЕНЮ  в шапке ▪▪▪▪▪▪▪*/
.main_menu_red {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: var(--main_menu_bg);
}

.main_menu_red .nav {
  line-height: 2.5;
}
.main_menu_red .nav-link {
  color: var(--main_menu_item) !important;
  font-size: 1.05rem;
  transition-property: background-color;
  transition-duration: 250ms;
}
.main_menu_red .nav-link:hover {
  color: var(--main_menu_item_hover) !important;
  background-color: var(--main_menu_bg_hover) !important;
}

.mobile_navbar .main_menu_red .nav-link {
  padding-left: 1rem;
  font-size: 1.1rem;
}

/* ▪▪▪▪▪▪▪▪▪▪ СИРЕНЕВОЕ МЕНЮ  в подвале ▪▪▪▪▪▪▪*/
.main_menu_footer {
  background-color: var(--footer_menu_bg);
  border-bottom: 0 !important;
}

.main_menu_footer .nav-link {
  line-height: 2.2;
  padding-top: 0.18rem;
  padding-bottom: 0;
  color: var(--footer_menu_item) !important;
  vertical-align: center !important;
  transition-property: background-color;
  transition-duration: 200ms;
}
.main_menu_footer .nav-link:hover {
  background-color: var(--footer_menu_item_bg_hover) !important;
}

.mobile_navbar .main_menu_footer .nav-link {
  padding-left: 1rem;
  font-size: 1.1rem;
}

@media only screen and (max-width: 575.98px) {
  .main_menu_footer .nav-link {
    line-height: 1.5 !important;
    padding-top: 0 !important;
  }
  .main_menu_footer .nav {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪ SWITCH_LANGUAGE ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
.switch_language_wrapper {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
}

.switch_language_wrapper span, .switch_language_wrapper a {
  line-height: 1 !important;
}

.current_lang_div span:nth-of-type(2) {
  padding-left: 0.3rem;
  color: #E8E690;
}

.current_lang_div {
  padding: 0rem 1rem 0rem 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 0.9rem;
}

.another_lang_div {
  padding: 0rem;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  font-size: 0.9rem;
}

.another_lang_div a {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: #FFE4AF;
}

.another_lang_div a:hover {
  color: #FFFFFF;
  background-color: #0B5ED7;
}

.select_lang {
  padding-bottom: 0rem;
  padding-bottom: 0rem;
}

/* PHONE */
@media only screen and (max-width: 575.98px) {
  .switch_language_wrapper {
    padding-bottom: 0rem;
  }
  .current_lang_div span:nth-of-type(2) {
    display: block;
    padding-top: 0.3rem !important;
    padding-bottom: 0.25rem;
  }
  .another_lang_div a {
    display: block;
    padding-top: 0.3rem !important;
    padding-bottom: 0.25rem;
  }
}
/* ▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪*/
@media only screen and (max-width: 575.98px) {
  .category_selection_holder {
    margin: 0.25rem -0.3rem 1.5rem -0.3rem;
  }
}
@media only screen and (min-width: 576px) {
  .category_selection_holder {
    margin: 0.25rem 1rem 1.5rem 1rem;
  }
}
.category_card {
  position: relative;
  height: 100%;
  border-radius: var(--car-card-border-radius);
  overflow: hidden;
}

.category_card a {
  text-decoration: none;
}

.category_card .category_color_photo_holder {
  transition-duration: 200ms;
  transition-property: filter;
  filter: grayscale(100%) brightness(120%);
}

.category_card:hover .category_color_photo_holder {
  filter: grayscale(0%) brightness(100%);
}

.category_color_photo_holder {
  display: flex;
  align-items: center;
  max-height: var(--card_photo_holder-max-height);
  border-top-left-radius: var(--car-card-border-radius);
  border-top-right-radius: var(--car-card-border-radius);
  overflow: hidden;
}

.category_color_photo_holder img {
  border-top-left-radius: var(--car-card-border-radius);
  border-top-right-radius: var(--car-card-border-radius);
}

.category_card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 0.8rem;
  background-color: #F9F9F9;
}

.category_card .category_title {
  color: #000000;
  text-align: center;
  white-space: nowrap;
  font-size: 1.5rem;
}

.alert_black_white {
  filter: grayscale(70%);
}

/*# sourceMappingURL=category_selection.css.map */
